Package: stratuslab-driver-one
Version: 0.1.5
Architecture: all
Depends: stratuslab-claudia-lib (>= 0.1-1) 
Maintainer: Diego Pérez Fabado <diegoperezw@gmail.com>
Description: One driver for Stratuslab. 

Architecture: all
